@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <body>

        <div class="text-center">
            <h1> Vedd meg a világ legjobb pálinkáját!</h1>
        </div>
        <div>
            <p>Hogy mennyire jó? <a href="https://www.youtube.com/watch?v=A4te8pfGDZw">Nézzd meg sanyi bá reakcióját</a></p>



            <img src="https://italkereso.hu/media/item/rezangyal-agyas-barack-palinka-0.5-liter-xxl.jpeg" width="300" height="200" alt="pálinka" style="float:right" />
            <p> Hogy miért jó? </p>
            <ol>
                <li>üt mint a kurva élet!</li>
                <li>Titisztítja a torkodat!</li>
                <li>Ezután olyan programokat írsz hogy a NASA is megirigyli!</li>
                <li>Még egy 60 éves alkoholistát is kiküld az árok szélére!</li>
            </ol>


            <h1> Vegyél belőle amíg a készlet tart! 1000 ft / liter! </h1>
        </div>
        <form method="post">
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname" ><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname" ><br><br>
            <button>Submit</button> 
        </form>
    </body>
